.input-wrap{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    width: 20vw;
    background-color: #64748b;
    color: #e2e8f0;
    width: 100%;
}

.field-label{
    margin: 2px 4px;
}


