:root{
    --valid: rgb(167, 255, 167);
    --invalid: rgb(255, 146, 146);
}

.form-title{
    font-size: 24px;
}

.section{
    margin: 10px;
    background-color: #334155;
    color: #e2e8f0;
    padding: 25px 0px 0px 0px;
    border-radius: 5px;
    height: min-content;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    overflow: hidden;
}

input, textarea{
    outline: none;
    border: none;
    border-bottom: 3px solid #c8c8c8;
    background-color: #64748b;
    color: #ffffff;
    font-size: 15px;
}

::placeholder{
    color: rgb(187, 185, 203);
}

input{
    padding: 5px;
}


.field-invalid:focus{
    border: none;
    border-bottom: 3px solid var(--invalid);
    outline: none;
}


.field-valid:focus{
    border: none;
    border-bottom: 3px solid var(--valid);
}

.section-form{
    display: grid;
    height: 100%;
    width: 100%;
}

.form-btn{
    align-self: end;
    border: none;
    padding: 7px;
}

.submit-btn{
    background-color: #f8fafc;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #d8dde2;
}


.edit-btn{
    background-color: #f0ffc0;
    cursor: pointer;
}

.edit-btn:hover{
    background-color: #c8d49f;
}

.error-text{
    width: 100%;
    margin: 5px 0px;
    text-align: center;
}
